.select-div select {
    display: flex;
    margin: 32px 0;
    border-radius: 90px 22px 24px 24px/15px 225px 15px 255px;
    border: solid 2px #06080F;
    font-size: 24px;
    font-family: 'Indie Flower', cursive;
    padding: 12px;
}